/* ===== TextField y PasswordField estilo Material Design ===== */
#paneFrente {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-background-radius: 10px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

#paneFondo {
    -fx-background-image: url('../Imagenes/fondoPaciente.jpg');
    -fx-background-size: cover;
}
.text-field, .password-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #AAAAAA;
    -fx-font-size: 14px;
    -fx-padding: 5px 0 5px 0;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: #303f9f; /* tono más oscuro cuando hace focus */
}



/* ===== Botón verde ===== */
.boton-confirmar {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-background-radius: 4;
}

/* ===== Botón gris ===== */
.boton-secundario {
    -fx-background-color: #607d8b;
    -fx-text-fill: white;
    -fx-background-radius: 4;
}

