
#paneFrente {
    -fx-background-color: rgba(255, 255, 255, 0.85);
    -fx-background-radius: 10px;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
}

#paneFondo {
    -fx-background-image: url('../Imagenes/fondoPaciente.jpg');
    -fx-background-size: cover;
}

#labelBienvenidaPaciente {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #004D40;
}


#labelPacienteNombre {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}


#textfieldPacienteNombre {

    -fx-background-color: transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #AAAAAA;
    -fx-font-size: 14px;
    -fx-padding: 5px 0 5px 0;
}

#textfieldPacienteNombre:focused {
    -fx-border-color: #3F51B5;
    -fx-border-width: 0 0 2px 0;
}


.menu-button {
    -fx-background-color: #E0E0E0;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 10px 15px;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 5, 0.0, 0, 1); /* Sombra suave */
}

#buttonAgendarCita {
    -fx-background-color: #C8E6C9;
    -fx-text-fill: #388E3C;
}
#buttonAgendarCita:hover {
    -fx-background-color: #A5D6A7;
}

#buttonActualizarDatos {
    -fx-background-color: #FFF9C4;
    -fx-text-fill: #FBC02D;
}
#buttonActualizarDatos:hover {
    -fx-background-color: #FFEE95;
}

#buttonVisualizarHistorial {
    -fx-background-color: #BBDEFB;
    -fx-text-fill: #1976D2;
}
#buttonVisualizarHistorial:hover {
    -fx-background-color: #90CAF9;
}


#buttonVerCitas {
    -fx-background-color: #E1BEE7;
    -fx-text-fill: #8E24AA;
}
#buttonVerCitas:hover {
    -fx-background-color: #CE93D8;
}

#buttonRegresarLogin {
    -fx-background-color: #B0BEC5;
    -fx-text-fill: #455A64;
}
#buttonRegresarLogin:hover {
    -fx-background-color: #90A4AE;
}